.fontFamily {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 
    'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
    'Lucida Grande', Helvetica, Arial, sans-serif;
}

#homeColor {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

#homePage {
    max-width: 1128px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 40px;
    min-height: 560px;
}

#homeImg {
    width: 700px;
    height: 560px;
    display: flex;
    flex-shrink: 1;
    transform: translateX(-40px);
    position: relative;
}

.signIn {
    padding-right: 42px;
    align-self: flex-start;
    flex-shrink: 0;
    width: 55%;
    position: relative;
}

#homeHeading {
    font-size: 56px;
    font-weight: 200;
    color: #8f5849;
    /* padding-bottom: 5px; */
    line-height: 125%;
}

.homeLogin {
    display: flex;
    flex-direction: column;
    padding-right: 42px;
    align-self: flex-start;
    flex-shrink: 0;
    width: 55%;
    position: relative;
}

.homeLabel {
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.homeLogin input {
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    box-sizing: border-box;
    height: 50px;
}

.homeLogin input:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.06);
    border: 2px solid black;
}

input:focus{
    outline: none;
}

#homeSignIn:hover {
    background-color: white
}

#homeSign {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 32px;
}

#homeGoogle, #homeNew {
    width:410px;
    margin-bottom: 30px;
}

#homeBorder {
    width:410px;
    /* border-bottom: 1px solid rgba(0,0,0,0.6); */
}

#homeGoogle, #homeNew {
    margin-top: 30px;
    background: white;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    margin-bottom: 15px;
}

#homeNew {
    margin-top: 0;
    text-decoration: none;
}

#homeGoogle:hover, #homeNew:hover {
    color:rgba(0,0,0,0.8);
    background:rgb(236, 233, 229)
}

#google {
    width: 5%;
    padding-right: 3%;
}

.empty {
    padding-top: 18px;
    color: rgb(201, 20, 20);
    font-size: 13px;
}

#emailEmptyInput, #passwordEmptyInput {
    cursor: text;
}

.email-input {
    margin-top: 3px;
}

.password-input, .email-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-email, .home-password {
    width: 410px;
}

.password-input button {
    position: absolute;
    bottom: 0.8em;
    right: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    color: #0a66c2;
    font-size: 16px;
}

.divider-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.divider-item {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(0 0 0 / .35);
}

.divider-text {
    margin: 0 10px;
}

#home-divider {
    width: 410px;
}