.fontFamily {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 
    'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
    'Lucida Grande', Helvetica, Arial, sans-serif;
}

#homeColor {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
}

#homePage {
    max-width: 1128px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
    min-height: 560px;
}

#homeImg {
    width: 700px;
    height: 560px;
    padding-top: 7%;
    position: absolute;
    right: -13%;
}

.signIn {
    align-self: flex-start;
    width: 50%;
    flex-shrink: 0;
    display: flex;
    /* padding-top: 2%; */
}

#homeHeading {
    font-size: 56px;
    font-weight: 200;
    color: #8f5849;
    padding-bottom: 5px;
    line-height: 125%;
    /* vertical-align: baseline; */
}

.homeLogin {
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.homeLabel {
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    margin-bottom: 10px;
    /* margin-top: 7%; */
    margin-top: 30px;
}

.homeLogin input {
    width: 410px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    box-sizing: border-box;
    height: 50px;
}

.homeLogin input:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.06);
    border: 2px solid black;
}

input:focus{
    outline: none;
}

#homeSignIn:hover {
    background-color: white
}

#homeSign {
    width: 100%;
    /* margin-bottom: 5%; */
    margin-bottom: 30px;
    margin-top: 32px;
}

#homeGoogle, #homeNew {
    width:410px;
    margin-bottom: 30px;
}

#homeBorder {
    width:410px;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

#homeGoogle, #homeNew {
    /* margin-top: 5%; */
    margin-top: 30px;
    background: white;
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    /* margin-bottom: 3%; */
    margin-bottom: 15px;
}

#homeNew {
    margin-top: 0;
    text-decoration: none;
}

#homeGoogle:hover, #homeNew:hover {
    color:rgba(0,0,0,0.8);
    background:rgb(236, 233, 229)
}

#google {
    width: 5%;
    padding-right: 3%;
}

.empty {
    padding-top: 18px;
    color: rgb(201, 20, 20);
    font-size: 13px;
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
        no-repeat;
    z-index: 1;
}