.commentsEditContainer {
    position: absolute;
    right: 15px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.commentsDetail {
    position: relative;
}

.commentsEditContainer i {
    transform: translateX(8px) translateY(4px);
    cursor: pointer;
}

#editCommentsOptions {
    width: 50px;
    transform: translateY(22px) translateX(-10px);
    z-index: 1;
}

#commenter-name {
    margin-bottom: 5px;
}

.commenter-info {
    cursor: pointer;
}