.signInForm label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
  
.signInForm input {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 250px;
}

.signInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    cursor: pointer;
}