.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    /* height: 54px; */
    margin: auto;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1128px;
}

.nav img {
    height: 34px;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-left: 5px;
}

.nav ul li:first-child{
    margin-left: 0px;
}

.homenav {
    text-decoration: none;
    font-weight: 550;
}

#signInButton {
    color: #0a66c2;
    padding: 15px 25px;
    border-radius: 50px;
    border: #0a66c2;
    border-style: solid;
}

#signInButton:hover {
    background-color: #c7dbef;
}

#signInButton:focus {
    outline: none;
    background-color: #a4c7eb;
}

#signUpButton {
    color: #5e5d5d;
    padding: 15px 20px;
    border-radius: 50px;
}

#signUpButton:hover {
    background-color: #e3e3e3;
}