.fontFamily {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 
    'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
    'Lucida Grande', Helvetica, Arial, sans-serif;
}

#withoutUserHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1128px;
}

.logo {
    height: 80px;
}

#withoutUserHome ul {
    display: flex;
}

#withoutUserHome ul li {
    margin-left: 5px;
}

#withoutUserHome ul li:first-child{
    margin-left: 0px;
}

.homenav {
    text-decoration: none;
    font-weight: 550;
}

#signInButton {
    color: #0a66c2;
    padding: 15px 25px;
    border-radius: 50px;
    border: #0a66c2;
    border-style: solid;
}

#signInButton:hover {
    background-color: #edf6ff;
}

#signInButton:focus {
    outline: none;
    background-color: #dae9f8;
}

#signUpButton {
    color: #5e5d5d;
    padding: 15px 20px;
    border-radius: 50px;
}

#signUpButton:hover {
    background-color: #e3e3e3;
}

#loginHeader {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    flex-wrap: wrap;
}

#headBackground {
    background-color: white;
}

#withUserHome {
    align-items: center;
    display: flex;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1210px;
    width: 100vw;
}

.left-nav {
    display: flex;
    position: absolute;
    margin-left: 2vw;
}

.withUserHomeLogo {
    height: 37px;
    width: 37px;
    cursor: pointer;
}

#homeLogo {
    min-width: 60px;
}

#withUserHome > ul {
    min-height: 52px;
    opacity: 1;
}

#withUserHome > ul > li {
    display: flex;
    align-items: center;
}