#postList {
    width: 1128px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

#createPost, #feedPost {
    width: 600px;
}

#homeProfile {
    width: 250px;
}

#homeFeed {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* padding-left: 180px; */
    /* position: fixed; */
    /* justify-content: center; */
}


#feedPost, #createPost {
    padding: 20px;
}

.authorInfo {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    display: flex;
    flex-direction: row;
}

.authorHeadline {
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}

.postBody {
    padding-top: 20px;
    padding-bottom: 20px;
}

.postLikesComments {
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.likesCount {
    display: flex;
    align-items: center;
}

#likesCountIcon {
    padding-right: 10px;
}

.commentsCount {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.commentsCount:hover {
    text-decoration: underline;
    color: #0a66c2;
}

.postInteract {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.postButtons {
    align-items: center;
    background: transparent;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    width: 100%;
    position: relative;
    border: none;
}

.postButtons:hover {
    background-color: rgba(0,0,0,0.08);
    border-radius: 8px;
}

#likeButton, #commentButton {
    padding-right: 10px;
}

.authorPic {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    z-index: 4;
    cursor: pointer;
    margin-right: 10px;
}

.authorPic img {
    width: 100%;
    height: 100%;
}

.comments {
    display: flex;
    flex-direction: row;
}

.commentsDetail {
    border-radius: 0 8px 0 0;
    margin-bottom: 25px;
    /* width: 90%; */
    flex-grow: 1;
    padding: 10px;
    background-color: rgba(0,0,0,0.08);
}

.commentBody {
    padding-bottom: 15px;
    padding-top: 15px;
}

.startPost {
    background-color: white;
    margin: 4px 0;
    font-size: 14px;
    flex-grow: 1;
    height: 45px;
    /* width: 100%; */
    max-width: none;
    line-height: 1.5;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 35px;
    padding-left: 16px;
    text-align: left;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}

.startPost:hover {
    background-color: rgba(0,0,0,0.08);
}

#createPost {
    display: flex;
    flex-direction: row;
}

.homeFoot {
    padding-left: 80px;
}

.createPostFoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uploadPhoto, .submitPost {
    display: flex;
    align-items: center;
}

.submitPost {
    padding-right: 20px;
    padding-bottom: 20px;
}

.uploadPhotoIcon {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.uploadPhotoIcon i {
    color: rgba(0,0,0,0.6);
    width: 24px;
    height: 24px;
    font-size: 20px;
    position: absolute;
    bottom: -1px;
    right: 1px
}

.uploadPhotoIcon:hover {
    background-color: rgba(0,0,0,0.08);
}

.uploadPhoto {
    height: 4px;
    width: 4px;
    display: inline-block;
}

.createPostBody {
    /* padding: 25px;
    padding-right: 35px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; */
    padding: 25px;
    padding-right: 35px;
    /* height: 300px; */
}

.createPostInput {
    width: 100%;
    height: 300px;
    font-size: 16px;
    border: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 
    'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 
    'Lucida Grande', Helvetica, Arial, sans-serif;
    resize: none;
    outline: 0;
}

.createPostInput:focus {
    border: none;
}

.createPostUserDetail {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.createPostUserName {
    font-weight: 600;
}